/* These styles are generated from project.scss. */

.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #F2DEDE;
  border-color: #EED3D7;
}
.btn-view:hover {
  background-color: #4BCBF1;
}
.btn-delete:hover {
  background-color: #DD4145;
}

.sortable, .page-item {
  cursor: pointer;
}

textarea:read-only, textarea:read-only.form-control:focus {
  background-color: #E9ECEF;
}

.progress {
  background-color: #E3E3C3;
}