{% extends "base.html" %}

{% block content %}
<div class="row mt-3">
    <h1>About meteo.report Manager</h1>
    <p>
      meteo.report Manager is the back-office for the Euregio Weather Report <a href="https://meteo.report" target="_blank">public-facing website</a>.
    <p>
    <p>
      It is based on the open source <a href="https://gitlab.com/tinia-euregio/tinia-manager" target="_blank"><b>meteo.report Manager</b> project</a>. Please submit any issues to the <a href="https://gitlab.com/tinia-euregio/tinia-manager/-/issues" target="_blank">issue tracker</a>!
    </p>
</div>
{% endblock %}

