{% extends "base.html" %}

{% load i18n %}
{% load tz %}

{% block content %}
    {% if request.user.is_authenticated %}
    <div class="row mt-3">
        <div class="col">
            <h1>Bulletin #{{bulletin.id}}</h1>
            <pre class="text-muted">Text fields of this bulletin</pre>
        </div>
        {% if not bulletin.draft %}
            {% if bulletin.id_venue in request.user.region.all or request.user.is_superuser %}
            <form action="{% url 'bulletin_create' %}" method="post" class="col">
                {% csrf_token %}
                <select id="region" class="form-select" name="region" style="display: none;">
                    <option value='{{bulletin.id_venue.id}}'>{{bulletin.id_venue.name_eng}}</option>
                </select>
                <button type="submit" class="btn btn-primary float-end">Create New Bulletin for {{bulletin.id_venue.name_eng}}</button>
            </form>
            {% endif %}
        {% endif %}
        <div id="createBulletin"></div>
    </div> <!-- row -->
    <div class="row mt-3">
        <div class="col me-2">
            <label for="start"><b>Start</b></label>
            <input id="start" class="form-control" type="text" value="{{bulletin.start | date:'l, d-m-Y, H:i T'}}" {% localtime off %} title="{{ bulletin.end | date:'l, d-m-Y, H:i T'}}" {% endlocaltime %} disabled>
        </div>
        <div class="col mx-2">
            <label for="end"><b>End</b></label>
            <input id="end" class="form-control" type="text" value="{{bulletin.end | date:'l, d-m-Y, H:i T'}}" {% localtime off %} title="{{ bulletin.end | date:'l, d-m-Y, H:i T'}}" {% endlocaltime %} disabled>
        </div>
        <div class="col mx-2">
            <label for="update"><b>Last update</b></label>
            <input id="update" class="form-control" type="text" value="{{bulletin.last_update | date:'l, d-m-Y, H:i T'}}" {% localtime off %} title="{{ bulletin.last_update | date:'l, d-m-Y, H:i T'}}" {% endlocaltime %} disabled>
        </div>
        <div class="col mx-2">
            <label for="author"><b>Author</b></label>
            <input id="author" class="form-control" type="text" value="{{bulletin.author}}" disabled>
        </div>
        <div class="col ms-2">
            <label for="version"><b>Version</b></label>
            <input id="version" class="form-control" type="text" value="{{bulletin.version}}" disabled>
        </div>
    </div> <!-- row -->
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-fill mt-3" role="tablist" onclick="setActiveTab()">
        <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#menu1">{{bulletin.start|date:"D, d/m/Y"}}</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#menu2">{{second_day|date:"D, d/m/Y"}}</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#menu3">{{third_day|date:"D, d/m/Y"}}</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#menu4">{{fourth_day|date:"D, d/m/Y"}}</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#menu5">{{fifth_day|date:"D, d/m/Y"}}</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#menu6">{{sixth_day|date:"D, d/m/Y"}}</a>
        </li>
        {% if bulletin.id_venue.name_eng != "Euregio" %}
          <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#menu7">Mountain weather</a>
          </li>
        {% endif %}
    </ul>

    <!-- Tab panes -->
    <form id="bulletinForm" class="form-horizontal" method="post" action="{% url 'bulletin_update_complete' %}">
    {% csrf_token %}
    <div class="tab-content">
        {% for item in bulletin_texts %}
            <div id="menu{{forloop.counter}}" class="container tab-pane {% if forloop.counter == 1 %}active{% else %}fade{% endif %}"><br>
                <div>
                    {% if forloop.counter == 7 %}
                        <div class="row mb-3">
                            <div class="col me-2">
                                <label for="start1"><b>Start validity</b></label>
                                <input id="start1" class="form-control" type="text" value="{{bulletin.start | date:'l, d-m-Y, H:i T'}}" {% localtime off %} title="{{ bulletin.start | date:'l, d-m-Y, H:i T'}}" {% endlocaltime %} disabled readonly>
                            </div>
                            <div class="col mx-2">
                                <label for="end1"><b>End validity</b></label>
                                <input id="start1" class="form-control" type="text" value="{{bulletin.end | date:'l, d-m-Y, H:i T'}}" {% localtime off %} title="{{ bulletin.end | date:'l, d-m-Y, H:i T'}}" {% endlocaltime %} disabled readonly>
                            </div>
                        </div>
                    {% endif %}
                    <div class="mb-3">
                        <label for="english_{{item.id}}" class="form-label">Text in English about {{item.id_venue.name_eng}}</label>
                        <div class="btn-toolbar float-end mb-2" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="me-2" role="group" aria-label="First group">
                            {% if not item.value_eng %}
                                {% if item.value_deu %}
                                <button onclick="translation('deu', 'eng', '{{item.id}}')" id="eng_deu_{{item.id}}" type="button" class="btn btn-outline-secondary">DEU ➜ ENG</button>
                                {% else %}
                                <button id="eng_deu_{{item.id}}" style="display: none"></button>
                                {% endif %}
                                {% if item.value_ita %}
                                <button onclick="translation('ita', 'eng', '{{item.id}}')" id="eng_ita_{{item.id}}" type="button" class="btn btn-outline-secondary">ITA ➜ ENG</button>
                                {% else %}
                                <button id="eng_ita_{{item.id}}" style="display: none"></button>
                                {% endif %}
                            {% else %}
                                <button id="eng_deu_{{item.id}}" style="display: none"></button>
                                <button id="eng_ita_{{item.id}}" style="display: none"></button>
                            {% endif %}
                            </div>
                            <button id="mail_eng_{{item.id}}" onclick="sendMail('english_{{item.id}}', '{{item.id_venue.name_eng}}', '{{forloop.counter}}')" type="button" class="btn btn-outline-info">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                                </svg>
                            </button>
                        </div>
                        <div style="position: relative;">
                            <div title="clear this text" class="btn-close" id="eng_{{item.id}}" onclick="removeText('eng_{{item.id}}', '{{forloop.counter}}')" role="button" {% if item.value_eng == '' %} style='display: none' {% else %} style='position: absolute; right: 10px; top: 18px;' {% endif %}></div>
                            <textarea name="eng_{{item.id}}_{{item.id_text_bulletin.id}}_{{item.id_venue.id}}_{{item.id_time_layout.id}}" class="form-control" id="english_{{item.id}}" rows="3" {% if editable_status == 0 %} readonly {% endif %}>{{item.value_eng}}</textarea>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="german_{{item.id}}" class="form-label">Text in German about {{item.id_venue.name_eng}}</label>
                        <div class="btn-toolbar float-end mb-2" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="me-2" role="group" aria-label="First group">
                            {% if not item.value_deu %}
                                {% if item.value_ita %}
                                <button onclick="translation('ita', 'deu', '{{item.id}}')" id="deu_ita_{{item.id}}" type="button" class="btn btn-outline-secondary">ITA ➜ DEU</button>
                                {% else %}
                                <button id="deu_ita_{{item.id}}" style="display: none"></button>
                                {% endif %}
                            {% else %}
                                <button id="deu_ita_{{item.id}}" style="display: none"></button>
                            {% endif %}
                            </div>
                            <button id="mail_deu_{{item.id}}" onclick="sendMail('german_{{item.id}}', '{{item.id_venue.name_eng}}', '{{forloop.counter}}')" type="button" class="btn btn-outline-info">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                                </svg>
                            </button>
                        </div>
                        <div style="position: relative;">
                            <div title="clear this text" class="btn-close" id="deu_{{item.id}}" onclick="removeText('deu_{{item.id}}', '{{forloop.counter}}')" role="button" {% if item.value_deu == '' %} style='display: none' {% else %} style='position: absolute; right: 10px; top: 18px;' {% endif %}></div>
                            <textarea name="deu_{{item.id}}_{{item.id_text_bulletin.id}}_{{item.id_venue.id}}_{{item.id_time_layout.id}}" class="form-control" id="german_{{item.id}}" rows="3" {% if editable_status == 0 %} readonly {% endif %}>{{item.value_deu}}</textarea>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="italian_{{item.id}}" class="form-label">Text in Italian about {{item.id_venue.name_eng}}</label>
                        <div class="btn-toolbar float-end mb-2" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="me-2" role="group" aria-label="First group">
                            {% if not item.value_ita %}
                                {% if item.value_deu %}
                                <button onclick="translation('deu', 'ita', '{{item.id}}')" id="ita_deu_{{item.id}}" type="button" class="btn btn-outline-secondary">DEU ➜ ITA</button>
                                {% else %}
                                <button id="ita_deu_{{item.id}}" style="display: none"></button>
                                {% endif %}
                            {% else %}
                                <button id="ita_deu_{{item.id}}" style="display: none"></button>
                            {% endif %}
                            </div>
                            <button id="mail_ita_{{item.id}}" onclick="sendMail('italian_{{item.id}}', '{{item.id_venue.name_eng}}', '{{forloop.counter}}')" type="button" class="btn btn-outline-info">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                                </svg>
                            </button>
                        </div>
                        <div style="position: relative;">
                            <div title="clear this text" class="btn-close" id="ita_{{item.id}}" onclick="removeText('ita_{{item.id}}', '{{forloop.counter}}')" role="button"  {% if item.value_ita == '' %} style='display: none' {% else %} style='position: absolute; right: 10px; top: 18px;' {% endif %}></div>
                            <textarea name="ita_{{item.id}}_{{item.id_text_bulletin.id}}_{{item.id_venue.id}}_{{item.id_time_layout.id}}" class="form-control" id="italian_{{item.id}}" rows="3" {% if editable_status == 0 %} readonly {% endif %}>{{item.value_ita}}</textarea>
                        </div>
                    </div>
                    <div class="mb-3" style="display: none;">
                        <label for="ladin_{{item.id}}" class="form-label">Text in Ladin about {{item.id_venue.name_eng}}</label>

                        <textarea name="lld_{{item.id}}_{{item.id_text_bulletin.id}}_{{item.id_venue.id}}_{{item.id_time_layout.id}}" class="form-control" id="ladin_{{item.id}}" rows="3" {% if editable_status == 0 %} readonly {% endif %}>{{item.value_lld}}</textarea>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div><input name="bulletin_id" type="text" style="display: none;" value="{{bulletin.id}}" readonly></div>
    {% if editable_status == 1 %}
    <div class="d-flex">
        <div class="controls" id="update_btn">
            <button type="submit" onclick="bulletinCreate()" class="btn btn-primary" disabled>Update</button>
        </div>
        {% if bulletin.draft == True %}
        <div class="controls" id="confirm_btn" >
            <button type="button" onclick="confirmAction('{{bulletin.id}}')" class="btn btn-primary" style="margin-left: 50px;">Send</button>
        </div>
        {% endif %}
    </div>
    {% endif %}
    </form>
    <!-- The Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-xl">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create a new bulletin</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="d-flex flex-column" style="margin-top: 0px;">
                            <button type="submit" class="btn btn-primary mt-3" name="mybtn">Create</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var curActiveTab = document.getElementsByClassName("nav-link active")[0]
        var curActiveTabContent = document.getElementsByClassName("container tab-pane active")[0]

        document.addEventListener("DOMContentLoaded", function() {
            var scrollpos = localStorage.getItem('scrollpos');
            if (scrollpos) window.scrollTo(0, scrollpos);
        });
        window.onbeforeunload = function() {
            localStorage.setItem('scrollpos', window.scrollY);
        };
        const activeTab = localStorage.getItem("activeTab") ? localStorage.getItem("activeTab") : "#menu1";

        const tabElements = document.getElementsByClassName("nav-link")
        for(let j = 0; j < tabElements.length; j++){
            if (tabElements[j].getAttribute("href") == activeTab) {
                curActiveTab.className = "nav-link"
                curActiveTabContent.className = "container tab-pane fade"
                curActiveTab = tabElements[j]
            }
        }
        const activeContentId = activeTab.split("").slice(1).join("");
        document.getElementById(activeContentId).className = "container tab-pane active"
        curActiveTab.className = "nav-link active"

        var originTextArray = []
        getText(originTextArray);

        var textArray = originTextArray
        var is_same = true
        function getText(array){
            let elements = document.getElementsByTagName("textarea");
            for(let i = 0; i < elements.length; i++){
                array.push(elements[i].value);
            }
        }
        function checkUpdate() { // eslint-disable-line no-unused-vars
            textArray = []
            getText(textArray);
            if(document.getElementById("update_btn")){
                is_same = (originTextArray.length == textArray.length) && originTextArray.every(function(element, index) {
                    return element === textArray[index];
                });
                if (is_same) {
                    document.getElementById("update_btn").getElementsByTagName("button")[0].setAttribute("disabled", "");
                    if (document.getElementById("confirm_btn")){
                        document.getElementById("confirm_btn").getElementsByTagName("button")[0].removeAttribute("disabled", "");
                    }
                } else {
                    document.getElementById("update_btn").getElementsByTagName("button")[0].removeAttribute("disabled", "");
                    if (document.getElementById("confirm_btn")){
                        document.getElementById("confirm_btn").getElementsByTagName("button")[0].setAttribute("disabled", "");
                    }
                }
            }
        }

        function checkTransBtn(i) { // eslint-disable-line no-unused-vars
            let langArray = ['eng', 'deu', 'ita']
            let textElements = document.getElementsByTagName('textarea')
            let name = textElements[i].getAttribute('name')
            let mainLang = name.split("_")[0]
            let itemId = name.split("_")[1]
            let restLang = langArray.filter(lang => lang != mainLang);
            let restLang0 = restLang[0]
            let restLang1 = restLang[1]
            let id1 = mainLang + "_" + restLang0 + "_" + itemId
            let id1r = restLang0 + "_" + mainLang + "_" + itemId
            let id2 = mainLang + "_" + restLang1 + "_" + itemId
            let id2r = restLang1 + "_" + mainLang + "_" + itemId
            let ftbtn = document.getElementById(id1)
            let ftbtnr = document.getElementById(id1r)
            let stbtn = document.getElementById(id2)
            let stbtnr = document.getElementById(id2r)

            let restLang01=""
            let restLang11=""

            if(restLang0=='eng') restLang01 = 'english'
            else if(restLang0=='deu') restLang01 = 'german'
            else if(restLang0=='ita') restLang01 = 'italian'

            if(restLang1=='eng') restLang11 = 'english'
            else if(restLang1=='deu') restLang11 = 'german'
            else if(restLang1=='ita') restLang11 = 'italian'


            if (textElements[i].value == "") {
                if(document.getElementById(restLang01+'_'+itemId).value!==''){
                    if (ftbtn) {
                        ftbtn.outerHTML = `<button id="${id1}" onclick="translation('${restLang0}', '${mainLang}', ${itemId})" type="button" class="btn btn-outline-secondary">${restLang0.toUpperCase()} ➜ ${mainLang.toUpperCase()}</button>`
                    }
                } else {
                    if (ftbtn) {
                        ftbtn.outerHTML = `<button id="${id1}" style="display: none"></button>`
                    }
                    if (ftbtnr) {
                        ftbtnr.outerHTML = `<button id="${id1r}" style="display: none"></button>`
                    }
                }
                if(document.getElementById(restLang11+'_'+itemId).value!==''){
                    if (stbtn) {
                        stbtn.outerHTML = `<button id="${id2}" onclick="translation('${restLang1}', '${mainLang}', ${itemId})" type="button" class="btn btn-outline-secondary">${restLang1.toUpperCase()} ➜ ${mainLang.toUpperCase()}</button>`
                    }
                } else {
                    if (stbtn) {
                        stbtn.outerHTML = `<button id="${id2}" style="display: none"></button>`
                    }
                    if (stbtnr) {
                        stbtnr.outerHTML = `<button id="${id2r}" style="display: none"></button>`
                    }
                }
            } else {
                if (ftbtn) {
                    ftbtn.outerHTML = `<button id="${id1}" style="display: none"></button>`
                }
                if (stbtn) {
                    stbtn.outerHTML = `<button id="${id2}" style="display: none"></button>`
                }
                if(document.getElementById(restLang01+'_'+itemId).value===''){
                    if (ftbtnr) {
                        ftbtnr.outerHTML = `<button id="${id1r}" onclick="translation('${mainLang}', '${restLang0}', ${itemId})" type="button" class="btn btn-outline-secondary">${mainLang.toUpperCase()} ➜ ${restLang0.toUpperCase()}</button>`
                    }
                }
                if(document.getElementById(restLang11+'_'+itemId).value===''){
                    if (stbtnr) {
                        stbtnr.outerHTML = `<button id="${id2r}" onclick="translation('${mainLang}', '${restLang1}', ${itemId})" type="button" class="btn btn-outline-secondary">${mainLang.toUpperCase()} ➜ ${restLang1.toUpperCase()}</button>`
                    }
                }
            }
        }

        function checkRemoveBtn(id){ // eslint-disable-line no-unused-vars
            let lang = id.split('_')[0]
            let itemId = id.split('_')[1]
            let mainLang = ''
            if (lang == 'english') {mainLang = 'eng'}
            else if (lang == 'german') {mainLang = 'deu'}
            else if (lang == 'italian') {mainLang = 'ita'}
            else if (lang == 'eng') {mainLang = lang, lang = 'english'}
            else if (lang == 'deu') {mainLang = lang, lang = 'german'}
            else if (lang == 'ita') {mainLang = lang, lang = 'italian'}
            let removeBtn = document.getElementById(mainLang+'_'+itemId)
            if (document.getElementById(lang+'_'+itemId).value == '') {
                removeBtn.style.display = 'none'
            } else {
                removeBtn.style.display = ''
                removeBtn.style.position = 'absolute'
                removeBtn.style.right = '10px'
                removeBtn.style.top = '18px'
            }
        }

        function setActiveTab(){ // eslint-disable-line no-unused-vars
            localStorage.setItem("activeTab", document.getElementsByClassName("nav-link active")[0].getAttribute("href"))
        }
        const textElements = document.getElementsByTagName('textarea')
        for(let i=0;i<textElements.length;i++){
            textElements[i].addEventListener('keyup', ()=> {
                let elementId = textElements[i].id
                checkUpdate();
                checkTransBtn(i);
                checkRemoveBtn(elementId);
            });
            textElements[i].addEventListener('input', ()=> {
                let elementId = textElements[i].id
                checkUpdate();
                checkTransBtn(i);
                checkRemoveBtn(elementId);
            });
        }

        function removeText(string, counter){ // eslint-disable-line no-unused-vars
            let mainLang = string.split("_")[0]
            let itemId = string.split("_")[1]
            let mainLang1 = ''
            let ct=0
            if(mainLang=='eng') {mainLang1 = 'english', ct=0}
            else if(mainLang=='deu') {mainLang1 = 'german', ct=1}
            else if(mainLang=='ita') {mainLang1 = 'italian', ct=2}
            document.getElementById(mainLang1 + "_" + itemId).innerHTML = ""
            document.getElementById(mainLang1 + "_" + itemId).value = ""
            checkUpdate();

            let iconNum = 0

            iconNum = (counter-1)*4 + ct
            checkTransBtn(iconNum);
            checkRemoveBtn(string);
        }

        async function translation(from, to, id){ // eslint-disable-line no-unused-vars
            let langF = ''
            let langT = ''
            let btnId = to + "_" + from + "_" + id

            if(to=='eng') langT = 'english'
            else if(to=='deu') langT = 'german'
            else if(to=='ita') langT = 'italian'

            let clickedBtn = document.getElementById(btnId)
            let targetTextArea = document.getElementById(langT + "_" + id)
            clickedBtn.innerHTML = '<div class="d-flex flex-float"><div>translating...</div><div class="spinner-border spinner-border-sm text-primary mt-1" role="status"><span class="visually-hidden">Loading...</span></div></div>'


            let textAreas = document.getElementsByTagName("textarea");
            for(let i = 0; i < textAreas.length; i++){
                textAreas[i].setAttribute("disabled", "");
            }
            let buttons = document.getElementsByTagName("button");
            for(let i = 0; i < buttons.length; i++){
                buttons[i].setAttribute("disabled", "");
            }
            const removeIcons = document.querySelectorAll("div[role=button]");
            for(let i = 0; i < removeIcons.length; i++){
                removeIcons[i].style.display = "none";
            }

            if(from=='eng') langF = 'english'
            else if(from=='deu') langF = 'german'
            else if(from=='ita') langF = 'italian'
            let text = document.getElementById(langF + "_" + id).value
            const payload = {
                from,
                to,
                text
            }
            const response = await fetch('/translation?' + new URLSearchParams(payload));
            let result = await response.json()

            for(let i = 0; i < textAreas.length; i++){
                textAreas[i].removeAttribute("disabled", "");
            }
            for(let i = 0; i < buttons.length; i++){
                buttons[i].removeAttribute("disabled", "");
            }

            targetTextArea.innerHTML = result.result
            targetTextArea.value = result.result


            for(let i = 0; i < removeIcons.length; i++){
                checkRemoveBtn(removeIcons[i].id)
            }

            clickedBtn.innerHTML = from.toUpperCase() + " ➜ " + to.toUpperCase()
            checkUpdate()
            let targetTextNum = 0
            for(let i = 0; i < textAreas.length; i++){
                if(textAreas[i] == targetTextArea) {targetTextNum = i}
            }
            checkTransBtn(targetTextNum)
        }

        function sendMail(id, region_name, timeDifference){ // eslint-disable-line no-unused-vars
            let lang = id.split('_')[0]
            let itemId = id.split('_')[1]
            let langs = ["english", "german", "italian"]
            let restlangs = langs.filter(elang => elang != lang);
            let ulang = lang.charAt(0).toUpperCase() + lang.slice(1);
            let urlang0 = restlangs[0].charAt(0).toUpperCase() + restlangs[0].slice(1);
            let urlang1 = restlangs[1].charAt(0).toUpperCase() + restlangs[1].slice(1);
            let bulletinTimeDate =  "{{bulletin.start|date:'d/m/y'}}"
            let day = parseInt(bulletinTimeDate.split("/")[0]) + parseInt(timeDifference) - 1
            let textTimeDate = day + "/" + bulletinTimeDate.split("/")[1] + "/" + bulletinTimeDate.split("/")[2]
            if(timeDifference == 6) {textTimeDate = bulletinTimeDate}
            let subject = "please help me with the text in " + ulang + " for " + region_name + " on " + textTimeDate
            const value0 = document.getElementById(restlangs[0]+"_"+itemId).value
            const value1 = document.getElementById(restlangs[1]+"_"+itemId).value

            let body = "Current texts:"
            if (value0) {
                body += "\n- " + urlang0 + ": " + value0
            }
            if (value1) {
                body += "\n- " + urlang1 + ": " + value1
            }
            body += "\n\nLink to bulletin: " + document.location.href

            window.open(`mailto:?subject=${subject}&body=${encodeURIComponent(body)}`);
        }

        function confirmAction(current_bulletin_id){ // eslint-disable-line no-unused-vars
            let confirmBoolean = confirm("Are you sure you want to send this bulletin?");
            if (confirmBoolean) {
                alert("Action successfully executed");
                fetch(
                    '/send/?current_bulletin_id=' + current_bulletin_id
                )
                .then(() => {
                    let elements = document.getElementsByTagName("textarea");
                    for(let i = 0; i < elements.length; i++){
                        elements[i].setAttribute("readonly", "");
                    }
                    document.getElementById("confirm_btn").innerHTML = "";
                    document.getElementById("update_btn").innerHTML = "";
                    let newDate = String(new Date())
                    let dateArray = newDate.split(" ", 9)
                    let timeArray = dateArray[4].split(":")
                    let timeArrayHour = Number(timeArray[0])
                    let hour = 0
                    let chap = ""
                    if (timeArrayHour === 12) {hour = 12, chap = 'p.m.'}
                    if (timeArrayHour > 0 && timeArrayHour < 12) {hour = timeArrayHour, chap = 'a.m.'}
                    if (timeArrayHour > 12 && timeArrayHour < 24) {hour = timeArrayHour - 12, chap = 'p.m.'}
                    let updateTime = dateArray[1]+". "+String(Number(dateArray[2]))+", "+dateArray[3]+", "+hour+":"+timeArray[1]+" "+chap
                    document.getElementById("update").value = updateTime
                    document.getElementById("createBulletin").outerHTML = `
                    <form action="{% url 'bulletin_create' %}" method="post" class="col"> \
                        {% csrf_token %} \
                        <select id="region" class="form-select" name="region" style="display: none;"> \
                            <option value='{{bulletin.id_venue.id}}'>{{bulletin.id_venue.name_eng}}</option> \
                        </select> \
                        <button type="submit" class="btn btn-primary float-end">Create New Bulletin for {{bulletin.id_venue.name_eng}}</button> \
                    </form>
                    `
                })
            } else {
                alert("Action canceled");
            }
        }
        function bulletinCreate(){ // eslint-disable-line no-unused-vars
            alert("bulletin was updated successfully")
        }
    </script>
    {% else %}

        {% trans 'You are a guest. To access the functionalities of meteo.report Manager please login.' %}

    {% endif %}
{% endblock %}
