{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block content %}

    {% if request.user.is_authenticated %}
    <div x-data="bulletins">
        <div class="row mt-3">
            <div class="col-md-6">
                <h1><span x-text="bulletin_type"></span> Bulletins</h1>
                <pre class="text-muted mt-2" x-text="bulletin_description"></pre>
            </div>
            <div class="col-md-6" id="monthyear">
                <!-- disabled -->
            </div> <!-- end col -->
        </div> <!-- end row -->
        <div class="row mt-3" id="data-page">
          <template x-if="!ready">
            <div class="spinner-border mx-auto" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </template>
          <template x-if="ready">
            <table id="bulletinTable" class="table table-striped table-hover col m-3">
              <caption>
                <span class="me-3"><i class="bi bi-check-circle"></i> Published</span>
              </caption>
              <thead>
                <tr class="align-middle text-center">
                  <th>ID<div id="sort_id"></div></th>
                  <th>Status<div id="sort_draft"></div></th>
                  <th title="Start of validity">Start<div id="sort_start"></div></th>
                  <th title="End of validity">End<div id="sort_end"></div></th>
                  <th>Last Update<div id="sort_last_update"></div></th>
                  <th>Author<div id="sort_author"></div></th>
                  <th>Version<div id="sort_version"></div></th>
                  <th>Post processed</th>
                </tr>
              </thead>
              <tbody>
                <template x-for="bulletin in results" :key="bulletin.id">
                  <tr class="align-middle text-center">
                    <td x-text="bulletin.id"></td>
                    <td>
                      <template x-if="!bulletin.draft"><i title="Published" class="bi bi-check-circle"></i></template>
                    </td>
                    <td x-bind:title="bulletin.start_human_utc" x-text="bulletin.start_human"></td>
                    <td x-bind:title="bulletin.end_human_utc" x-text="bulletin.end_human"></td>
                    <td x-bind:title="bulletin.last_update_human_utc" x-text="bulletin.last_update_human"></td>
                    <td x-text="bulletin.author">Author</td>
                    <td x-text="bulletin.version">Version</td>
                    <td>
                      <template x-if="bulletin.post_processed === false">
                        <i class="text-danger bi bi-exclamation"></i>
                      </template>
                      <template x-if="bulletin.post_processed === true">
                        <i class="text-success bi bi-check"></i>
                      </template>
                    </td>
                  </tr>
                </template>
              </tbody>
            </table>
          </template>
          <nav aria-label="Page navigation">
            <ul class="pagination">
              <li class="page-item">
                <a x-bind:class="{ 'disabled': ! previous }" title="Previous page" class="page-link" @click="previousPage" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <template x-for="page in generatePagination(curPage, totalPage)">
                <li @click="Number.isInteger(page)?clickedPage(page):clickedPage(curPage)" x-bind:class="page==curPage?'page-item active':'page-item'"><span class="page-link" x-text="page"></span></li>
              </template>
              <li class="page-item">
                <a x-bind:class="{ 'disabled': ! next }" class="page-link" @click="nextPage" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div> <!-- end row -->
    </div>

    {% else %}

        {% trans 'You are a guest. To access the functionalities of meteo.report Manager please login.' %}

    {% endif %}

    {% block js %}
    <script src="{% static 'js/bulletin_pseudoradar.js' %}"></script>
    {% endblock %}

{% endblock %}
