{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block content %}

    {% if request.user.is_authenticated %}
    <div x-data="bulletinData">
        <div class="row mt-3">
            <div class="col-md-6">
                <h1>Data Bulletins</h1>
                <pre class="text-muted mt-2">Bulletins with weather data attached</pre>
            </div>
            <div class="col-md-6" id="monthyear">
                <div class="input-group">
                    <div class="input-group-text">Month</div>
                    <select id="monthnum" class="form-select" x-model.number="month" @change="ready=false;loadData();">
                        <option :value='"All"'>All </option>
                        <option :value='1'>January</option>
                        <option :value='2'>February</option>
                        <option :value='3'>March</option>
                        <option :value='4'>April</option>
                        <option :value='5'>May</option>
                        <option :value='6'>June</option>
                        <option :value='7'>July</option>
                        <option :value='8'>August</option>
                        <option :value='9'>September</option>
                        <option :value='10'>October</option>
                        <option :value='11'>November</option>
                        <option :value='12'>December</option>
                    </select>
                    <div class="input-group-text">Year</div>
                    <select id="yearnum" class="form-select" x-model.number="year" @change="ready=false;loadData();">
                        <template x-for="y in years">
                            <option x-text="y">#</option>
                        </template>
                    </select>
                    <div class="input-group-text">Status</div>
                    <select id="draft_boolean" class="form-select" @change="ready=false;loadData();">
                        <option :value='"All"'>All</option>
                        <option :value='true'>Draft</option>
                        <option :value='false'>Published</option>
                    </select>
                    <div class="input-group-text">Region</div>
                    <select id="region_filter" class="form-select" @change="ready=false;loadData();">
                        <option :value='"All"'>All</option>
                        <option :value='"Euregio"'>Euregio</option>
                        <option :value='"Tyrol"'>Tyrol</option>
                        <option :value='"South Tyrol"'>South Tyrol</option>
                        <option :value='"Trentino"'>Trentino</option>
                    </select>
                    <button type="button" class="btn btn-outline-success" title="Refresh list" @click="ready=false;loadData();">
                      <i class="bi bi-arrow-clockwise"></i>
                    </button>
                </div> <!-- input-group -->
            </div> <!-- end col -->
        </div> <!-- end row -->
        <div class="row mt-3" id="data-page">
          <template x-if="!ready">
            <div class="spinner-border mx-auto" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </template>
          <template x-if="ready">
            <table id="bulletinTable" class="table table-striped table-hover col m-3">
              <caption>
                <span class="me-3"><i class="bi bi-check-circle"></i> Published</span>
              </caption>
              <thead>
                <tr class="align-middle text-center">
                  <th class="sortable" @click="sort('id')">ID<div id="sort_id"></div></th>
                  <th class="sortable" @click="sort('draft')">Status<div id="sort_draft"></div></th>
                  <th class="sortable" @click="sort('start')" title="Start of validity">Start<div id="sort_start"></div></th>
                  <th class="sortable" @click="sort('end')" title="End of validity">End<div id="sort_end"></div></th>
                  <th class="sortable" @click="sort('last_update')">Last Update<div id="sort_last_update"></div></th>
                  <th class="sortable" @click="sort('author')">Author<div id="sort_author"></div></th>
                  <th class="sortable" @click="sort('version')">Version<div id="sort_version"></div></th>
                  <th class="sortable" @click="sort('id_venue_id')">Region<div id="sort_id_venue_id"></div></th>
                  <th>Post processed</th>
                  <th class="sortable" @click="sort('data_num')">Number of data records present<div id="sort_data_num"></div></th>
                </tr>
              </thead>
              <tbody>
                <template x-for="bulletin in pagedbulletins" :key="bulletin.id">
                  <tr class="align-middle text-center">
                    <td x-text="bulletin.id"></td>
                    <td>
                      <template x-if="!bulletin.draft"><i title="Published" class="bi bi-check-circle"></i></template>
                    </td>
                    <td x-bind:title="bulletin.start_human_utc" x-text="bulletin.start_human"></td>
                    <td x-bind:title="bulletin.end_human_utc" x-text="bulletin.end_human"></td>
                    <td x-bind:title="bulletin.last_update_human_utc" x-text="bulletin.last_update_human"></td>
                    <td x-text="bulletin.author">Author</td>
                    <td x-text="bulletin.version">Version</td>
                    <td x-text="bulletin.region">Region</td>
                    <td>
                      <template x-if="bulletin.post_processed === false">
                        <i class="text-danger bi bi-exclamation"></i>
                      </template>
                      <template x-if="bulletin.post_processed === true">
                        <i class="text-success bi bi-check"></i>
                      </template>
                    </td>
                    <td x-text="bulletin.data_num">Number of Data</td>
                  </tr>
                </template>
              </tbody>
            </table>
          </template>
          <nav aria-label="Page navigation">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" @click="previousPage" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <template x-for="page in generatePagination(curPage, totalPage)">
                <li @click="Number.isInteger(page)?clickedPage(page):clickedPage(curPage)" x-bind:class="page==curPage?'page-item active':'page-item'"><span class="page-link" x-text="page"></span></li>
              </template>
              <li class="page-item">
                <a class="page-link" @click="nextPage" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div> <!-- end row -->
    </div>

    {% else %}

        {% trans 'You are a guest. To access the functionalities of meteo.report Manager please login.' %}

    {% endif %}

    {% block js %}
    <script src="{% static 'js/bulletins.js' %}"></script>
    {% endblock %}

{% endblock %}
