{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block content %}

    {% if request.user.is_authenticated %}
    <div x-data="bulletinData">
        <div class="row mt-3">
            <div class="col-md-4">
                <h1>Textual Bulletins</h1>
                <pre class="text-muted text-wrap">Bulletins with weather texts attached</pre>
            </div>
            <div class="col-md-2">
                <template x-if="regionLength > 0">
                  <div type="button" data-bs-toggle="modal" data-bs-target="#myModal" class="btn btn-primary float-end">Create New Bulletin</div>
                </template>
            </div>
            <div class="col-md-6" id="monthyear">
                <div class="input-group">
                    <div class="input-group-text">Month</div>
                    <select id="monthnum" class="form-select" x-model.number="month" @change="loadData()">
                        <option :value='"All"'>All </option>
                        <option :value='1'>January</option>
                        <option :value='2'>February</option>
                        <option :value='3'>March</option>
                        <option :value='4'>April</option>
                        <option :value='5'>May</option>
                        <option :value='6'>June</option>
                        <option :value='7'>July</option>
                        <option :value='8'>August</option>
                        <option :value='9'>September</option>
                        <option :value='10'>October</option>
                        <option :value='11'>November</option>
                        <option :value='12'>December</option>
                    </select>
                    <div class="input-group-text">Year</div>
                    <select id="yearnum" class="form-select" x-model.number="year" @change="loadData()">
                        <template x-for="y in years">
                            <option x-text="y">#</option>
                        </template>
                    </select>
                    <div class="input-group-text">Status</div>
                    <select id="draft_boolean" class="form-select" @change="loadData()">
                        <option :value='"All"'>All</option>
                        <option :value='true'>Draft</option>
                        <option :value='false'>Published</option>
                    </select>
                    <div class="input-group-text">Region</div>
                    <select id="region_filter" class="form-select" @change="loadData()">
                        <option :value='"All"'>All</option>
                        <option :value='"Euregio"'>Euregio</option>
                        <option :value='"Tyrol"'>Tyrol</option>
                        <option :value='"South Tyrol"'>South Tyrol</option>
                        <option :value='"Trentino"'>Trentino</option>
                    </select>
                    <button type="button" class="btn btn-outline-success" title="Refresh list" @click="loadData()">
                      <i class="bi bi-arrow-clockwise"></i>
                    </button>
                </div> <!-- input-group -->
            </div> <!-- end col -->
        </div> <!-- end row -->
        <div class="row mt-3">
            <table id="bulletinTable" class="table table-striped table-hover col m-3">
              <caption>
                <span class="me-3"><i class="bi bi-check-circle"></i> Published</span><span class="me-3"><i class="bi bi-pencil-fill"></i> Last updated draft</span><span><i class="bi bi-star-fill"></i> Active</span>
              </caption>
              <thead>
                <tr class="align-middle text-center">
                  <th class="sortable" @click="sort('id')">ID<div id="sort_id"></div></th>
                  <th class="sortable" @click="sort('draft')">Status<div id="sort_draft"></div></th>
                  <th class="sortable" @click="sort('start')" title="Start of validity">Start<div id="sort_start"></div></th>
                  <th class="sortable" @click="sort('end')" title="End of validity">End<div id="sort_end"></div></th>
                  <th class="sortable" @click="sort('last_update')">Last Update<div id="sort_last_update"></div></th>
                  <th class="sortable" @click="sort('author')">Author<div id="sort_author"></div></th>
                  <th class="sortable" @click="sort('version')">Version<div id="sort_version"></div></th>
                  <th class="sortable" @click="sort('id_venue_id')">Region<div id="sort_id_venue_id"></div></th>
                  <th>Number of German/English/Italian texts present</th>
                  <th>Post<br/>processed</th>
                  <th>View</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <template x-if="!bulletins">
                  <tr><td colspan="20"><i>Loading...</i></td></tr>
                </template>
                <template x-for="bulletin in pagedbulletins" :key="bulletin.id">
                  <tr class="align-middle text-center">
                    <td><span x-text="bulletin.id" x-bind:href="'/view/' + bulletin.id"></span></td>
                    <td>
                      <template x-if="!bulletin.draft && !active_ids.includes(bulletin.id)"><i title="Published" class="bi bi-check-circle"></i></template>
                      <template x-if="!bulletin.draft && active_ids.includes(bulletin.id)"><i title="Active" class="bi bi-star-fill"></i></template>
                      <template x-if="bulletin.draft && lastupdate_ids.includes(bulletin.id)"><i title="Last updated draft" class="bi bi-pencil-fill"></i></template>
                    </td>
                    <td x-bind:title="bulletin.start_human_utc" x-text="bulletin.start_human"></td>
                    <td x-bind:title="bulletin.end_human_utc" x-text="bulletin.end_human"></td>
                    <td x-bind:title="bulletin.last_update_human_utc" x-text="bulletin.last_update_human"></td>
                    <td x-text="bulletin.author"></td>
                    <td x-text="bulletin.version"></td>
                    <td x-text="bulletin.region"></td>
                    <td>
                        <div class="progress mb-1">
                          <div class="progress-bar progress-bar-striped" role="progressbar" aria-label="Number of German texts present" x-bind:style="'width:'+bulletin.number_deu*100/7+'%'">German</div>
                        </div>
                        <div class="progress mb-1">
                          <div class="progress-bar progress-bar-striped" role="progressbar" aria-label="Number of English texts present" x-bind:style="'width:'+bulletin.number_eng*100/7+'%'">English</div>
                        </div>
                        <div class="progress">
                          <div class="progress-bar progress-bar-striped" role="progressbar" aria-label="Number of Italian texts present" x-bind:style="'width:'+bulletin.number_ita*100/7+'%'">Italian</div>
                        </div>
                    </td>
                    <td>
                      <template x-if="bulletin.post_processed === false">
                        <i class="text-danger bi bi-exclamation"></i>
                      </template>
                      <template x-if="bulletin.post_processed === true">
                        <i class="text-success bi bi-check"></i>
                      </template>
                    </td>
                    <td>
                      <a
                        x-bind:href="'/view/' + bulletin.id"
                        @click="clearLocalStorage"
                        class="btn btn-view btn-change border border-info rounded-3"
                      >
                        <i class="bi bi-eye"></i>
                      </a>
                    </td>
                    <td>
                        <button
                          x-bind:disabled="bulletin.editable_status==false ? true : false"
                          class="btn btn-delete btn-change border border-danger rounded-3"
                          @click="confirmAction(bulletin.editable_status, bulletin.id)"
                        >
                          <i class="bi bi-trash3"></i>
                        </button>
                    </td>
                  </tr>
                </template>
              </tbody>
            </table>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" @click="previousPage" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <template x-for="page in generatePagination(curPage, totalPage)">
                    <li @click="Number.isInteger(page)?clickedPage(page):clickedPage(curPage)" x-bind:class="page==curPage?'page-item active':'page-item'"><span class="page-link" x-text="page"></span></li>
                  </template>
                  <li class="page-item">
                    <a class="page-link" @click="nextPage" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
            </nav>
        </div> <!-- row -->

        <!-- The Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-xl">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create a new bulletin</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row">
                            <div class="d-flex flex-column" style="margin-top: 0px;">
                                <form action="{% url 'bulletin_create' %}" method="post" class="mt-auto">
                                    {% csrf_token %}
                                    <label for="region" class="form-label requiredField">
                                        Region
                                        <span class="asteriskField">*</span>
                                    </label>
                                    <select id="region" class="form-select" name="region">
                                        <template x-for="region in regions" :key="region.id">
                                            <option :value="region.id" x-text="region.name"></option>
                                        </template>
                                    </select>
                                    <button type="submit" class="btn btn-primary mt-3" name="mybtn">Create</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- modal -->
    </div>
    {% else %}

        {% trans 'You are a guest. To access the functionalities of meteo.report Manager please login.' %}

    {% endif %}

    {% block js %}
    <script src="{% static 'js/bulletins.js' %}"></script>
    {% endblock %}

{% endblock %}
