{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block content %}

{% if request.user.is_authenticated %}

    <style>
      header {
        background-color: #263c97 !important;
        position: absolute !important;
        top: 4px !important;
        left: 30%;
        width: auto !important;
      }
    </style>

    <div class="row">
      <div class="column" id="nc-root">
      </div>
    </div>
    <!-- Include the script that enables GitLab backend with login skip -->
    <script src="{% static 'js/netlify-cms-backend-gitlab-skip-login.js' %}"></script>
    <!-- Include the script that builds the page and powers Netlify CMS -->
    <script src="{% static 'js/netlify-cms.js' %}"></script>
    <script>
      CMS.registerBackend('gitlab-skip-login', NetlifyCmsBackendGitlabSkipLogin.GitLabBackend);
    </script>
{% else %}

        {% trans 'You are a guest. To access the functionalities of meteo.report Manager please login.' %}

{% endif %}

{% endblock %}

