{% extends "base.html" %}

{% load i18n %}

{% block content %}

{% if request.user.is_authenticated %}
        <div class="row mt-3">
            <div class="col">
                <h1>Dashboard</h1>
                <pre class="text-muted">Currently valid weather texts from today onwards</pre>
            </div>
        </div> <!-- end row -->
        <div x-data="dashboardData" x-init="loadData" class="row">
            <template x-if="ready">
                <div>
                    <div>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th colspan="6" scope="col" class="text-center">German</th>
                                <th colspan="6" scope="col" class="text-center">English</th>
                                <th colspan="6" scope="col" class="text-center">Italian</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr class="text-center">
                                    <th scope="row"></th>
                                    <template x-for="date in dates">
                                        <td x-text="date"></td>
                                    </template>
                                </tr>
                                <template x-for="[region, texts] of Object.entries(textdata)">
                                    <tr>
                                        <th scope="row" x-text="region"></th>
                                        <template x-for="[lang, detailedtexts] of Object.entries(texts)">
                                            <template x-if="lang!='lld'">
                                                <template x-for="[day, cell] in Object.entries(detailedtexts)">
                                                    <td x-bind:role="textids[region] === undefined ? '' : 'button'" data-bs-toggle="popover" x-bind:title="cell" x-bind:style="textvalidity[region][lang][day] === 1 ? 'background-color: #8AE234': textvalidity[region][lang][day] === 2 ? 'background-color: #dce234':''" x-on:click="goToBulletin(region)"></td>
                                                </template>
                                            </template>
                                        </template>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <pre class="text-muted">Currently valid mountains texts from today onwards</pre>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th colspan="3" scope="col" class="text-center">German</th>
                                <th colspan="3" scope="col" class="text-center">English</th>
                                <th colspan="3" scope="col" class="text-center">Italian</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr class="text-center">
                                    <th scope="row"></th>
                                    <template x-for="data in mdates">
                                        <td x-text="data"></td>
                                    </template>
                                </tr>
                                <template x-for="[region, texts] of Object.entries(mtextdata)">
                                    <tr>
                                        <th scope="row" x-text="region"></th>
                                        <template x-for="[lang, detailedtexts] of Object.entries(texts)">
                                            <template x-for="[day, cell] in Object.entries(detailedtexts)">
                                                <td x-bind:role="textids[region] === undefined ? '' : 'button'" data-bs-toggle="popover" x-bind:title="cell" x-bind:style="mtextvalidity[region][lang][day] === 1 ? 'background-color: #8AE234': mtextvalidity[region][lang][day] === 2 ? 'background-color: #dce234':''" x-on:click="goToBulletin(region)"></td>
                                            </template>
                                        </template>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </div>
                </div>
            </template>
        </div> <!-- row -->
<script>
function popover(text, lang, date) {
    return `TEXT: ${text["value_"+lang]} AUTHOR: ${text.author} LAST UPDATE: ${ date }`
}
document.addEventListener('alpine:init', () => {
    Alpine.data('dashboardData', () => ({

        regions: [],
        mountains: [],
        textdata: {},
        mtextdata: {},
        dates: [],
        mdates: [],
        textvalidity: {},
        mtextvalidity: {},
        textids: {},
        ready: false,


        loadData() {
            this.ready = false
            let URL = '/api/currenttexts'
            let venuesURL = '/api/venues/?id_venue_type=0&id_venue_type=1'

            fetch(URL).then(response => response.json()).then(data => {
                fetch(venuesURL).then(response => response.json()).then(data2 => {

                    this.regions = data2.filter(venue => venue.id_venue_type === "0")
                    this.mountains = data2.filter(venue => (venue.id_venue_type === "1" && venue.id !== "4c7f3360-08cc-11ed-861d-0242ac120002"))

                    this.regions.sort((a, b) => a.name_eng.localeCompare(b.name_eng))
                    this.mountains.sort((a, b) => a.name_eng.localeCompare(b.name_eng))

                    let texts = data

                    let time_layouts = [144000000, 144001440, 144002880, 144004320, 144005760, 144007200]

                    let langs = ["ita", "eng", "deu"]

                    let today = new Date()

                    langs.forEach(() => {
                        for(let day = 0; day <6; day++){
                            let offset = (new Date()).getTime() + 60 * 60 * 24 * 1000 * day
                            let tdDate = (new Date(offset))
                            this.dates.push(tdDate.getDate() + "/" + (tdDate.getMonth() + 1))
                        }
                        this.mdates.push(this.dates[0])
                        this.mdates.push(this.dates[1])
                        this.mdates.push(this.dates[2])
                    })

                    this.regions.forEach(region => {
                        this.textdata[region.name_eng] = []
                        this.textvalidity[region.name_eng] = []

                        langs.forEach(lang => {
                            this.textdata[region.name_eng][lang] = {}
                            this.textvalidity[region.name_eng][lang] = {}

                            time_layouts.forEach(tl => {
                                let text = texts.find(text => text.id_venue === region.id && tl === text.id_time_layout)

                                if(text !== undefined){
                                    let last_update = new Date(text.last_update)
                                    let date = this.format_data(last_update)
                                    if(text["value_"+lang] !== ""){
                                        this.textdata[region.name_eng][lang][tl] = popover(text, lang, date)
                                        if(last_update.getDate() === today.getDate() && last_update.getMonth() === today.getMonth() && last_update.getFullYear() === today.getFullYear()){
                                            this.textvalidity[region.name_eng][lang][tl] = 1
                                        }else{
                                            this.textvalidity[region.name_eng][lang][tl] = 2
                                        }
                                    }else{
                                        this.textdata[region.name_eng][lang][tl] = ""
                                        this.textvalidity[region.name_eng][lang][tl] = 0
                                    }

                                    this.textids[region.name_eng] = text.id_text_bulletin
                                }else{
                                    this.textdata[region.name_eng][lang][tl] = ""
                                    this.textvalidity[region.name_eng][lang][tl] = 0
                                }
                            }) // for each tl
                        }) // for each lang
                    }) // for each region

                    let mtime_layouts = [431997120, 431998560, 432000000]

                    this.mountains.forEach(mountain => {
                        this.mtextdata[mountain.name_eng] = {}
                        this.mtextvalidity[mountain.name_eng] = {}

                        langs.forEach(lang => {
                            this.mtextdata[mountain.name_eng][lang] = {}
                            this.mtextvalidity[mountain.name_eng][lang] = {}

                            // prefill with empty values
                            for(let day = 0; day <3; day++){
                                this.mtextdata[mountain.name_eng][lang][432000000 - day * 1440] = ""
                                this.mtextvalidity[mountain.name_eng][lang][432000000 - day * 1440] = 0
                            }

                            mtime_layouts.forEach(tl => {
                                let text = texts.find(text => text.id_venue === mountain.id && text.id_time_layout === tl)
                                if(text !== undefined){
                                    let last_update = new Date(text.last_update)
                                    let date = this.format_data(last_update)

                                    if(text["value_"+lang] !== ""){
                                        if(tl === 432000000){
                                            for(let day = 0; day <3; day++){
                                                this.mtextdata[mountain.name_eng][lang][432000000 - day * 1440] = popover(text, lang, date)
                                                if(last_update.getDate() === today.getDate() && last_update.getMonth() === today.getMonth() && last_update.getFullYear() === today.getFullYear()){
                                                    this.mtextvalidity[mountain.name_eng][lang][432000000 - day * 1440] = 1
                                                }else{
                                                    this.mtextvalidity[mountain.name_eng][lang][432000000 - day * 1440] = 2
                                                }
                                            }
                                        }else if(tl === 431998560){
                                            for(let day = 0; day <2; day++){
                                                this.mtextdata[mountain.name_eng][lang][431998560 - day * 1440] = popover(text, lang, date)
                                                this.mtextvalidity[mountain.name_eng][lang][431998560 - day * 1440] = 2
                                            }
                                            this.mtextdata[mountain.name_eng][lang][432000000] = ""
                                            this.mtextvalidity[mountain.name_eng][lang][432000000] = 0
                                        }else if(tl === 431997120){
                                            this.mtextdata[mountain.name_eng][lang][431997120] = popover(text, lang, date)
                                            this.mtextvalidity[mountain.name_eng][lang][431997120] = 2
                                            for(let day = 1; day <3; day++){
                                                this.mtextdata[mountain.name_eng][lang][431997120 + day * 1440] = ""
                                                this.mtextvalidity[mountain.name_eng][lang][431997120 + day * 1440] = 0
                                            }
                                        }else{
                                            for(let day = 0; day <3; day++){
                                                this.mtextdata[mountain.name_eng][lang][432000000 - day * 1440] = ""
                                                this.mtextvalidity[mountain.name_eng][lang][432000000 - day * 1440] = 0
                                            }
                                        }
                                        this.textids[mountain.name_eng] = text.id_text_bulletin
                                    }else{
                                        for(let day = 0; day <3; day++){
                                            this.mtextdata[mountain.name_eng][lang][432000000 - day * 1440] = ""
                                            this.mtextvalidity[mountain.name_eng][lang][432000000 - day * 1440] = 0
                                        }
                                    }
                                } // text is defined
                            }) // for each mtime_layout
                        }) // for each lang
                    }) // for each mountain region
                    this.ready = true
                }) // venues received
            }) // currenttexts received
        },

        goToBulletin(region) {
            if(this.textids[region]){
                window.location.href=`/view/${this.textids[region]}`
            }
        },

        format_data(data) {
            var mm = data.getMonth() + 1; // getMonth() is zero-based
            var dd = data.getDate();
            var year = data.getFullYear();
            var hour = data.getHours();
            var minute = data.getMinutes();

            return [(dd>9 ? '' : '0') + dd, (mm>9 ? '' : '0') + mm, year].join('-') + ' ' + (hour>9 ? '' : '0') + hour + ':' + (minute>9 ? '' : '0') + minute;
        }

    }))

});


/*  var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
  return new bootstrap.Popover(popoverTriggerEl)
})  */
</script>

{% else %}

        {% trans 'You are a guest. To access the functionalities of meteo.report Manager please login.' %}

{% endif %}

{% endblock %}
