{% extends "base.html" %}

{% block content %}
    <div class="row mt-3">
        <div class="col">
            <h1>Regions associated to user: {{user.username}}</h1>
            <pre class="text-muted">Select user's regions</pre>
        </div>
    </div> <!-- row -->
    <div class="row mt-3">
        <form method="POST" action="{% url 'user_region_save' %}" class="col">
            {% csrf_token %}
            <div class="d-flex flex-float justify-content-between">
                {% if "Tyrol" in user_regions %}
                <div class="form-check form-switch">
                    <input class="form-check-input" id="Tyrol" type="checkbox" name="Tyrol" value="True" checked>
                    <label class="form-check-label" for="Tyrol">Tyrol</label>
                </div>
                {% else %}
                <div class="form-check form-switch">
                    <input class="form-check-input" id="Tyrol1" type="checkbox" name="Tyrol" value="True">
                    <label class="form-check-label" for="Tyrol1">Tyrol</label>
                </div>
                {% endif %}
                {% if "South Tyrol" in user_regions %}
                <div class="form-check form-switch">
                    <input class="form-check-input" id="South_Tyrol" type="checkbox" name="South Tyrol" value="True" checked>
                    <label class="form-check-label" for="South_Tyrol">South Tyrol</label>
                </div>
                {% else %}
                <div class="form-check form-switch">
                    <input class="form-check-input" id="South_Tyrol1" type="checkbox" name="South Tyrol" value="True">
                    <label class="form-check-label" for="South_Tyrol1">South Tyrol</label>
                </div>
                {% endif %}
                {% if "Trentino" in user_regions %}
                <div class="form-check form-switch">
                    <input class="form-check-input" id="Trentino" type="checkbox" name="Trentino" value="True" checked>
                    <label class="form-check-label" for="Trentino">Trentino</label>
                </div>
                {% else %}
                <div class="form-check form-switch">
                    <input class="form-check-input" id="Trentino1" type="checkbox" name="Trentino" value="True">
                    <label class="form-check-label" for="Trentino1">Trentino</label>
                </div>
                {% endif %}
            </div>
            <div class="d-flex flex-float justify-content-between my-5">
                {% if "Euregio" in user_regions %}
                <div class="d-flex flex-float">
                    <h2 class="mx-3" style="color: red;">Special:</h2>
                    <div class="form-check form-switch mt-2 mx-3">
                        <input class="form-check-input" id="Euregio" type="checkbox" name="Euregio" value="True" checked>
                        <label class="form-check-label" for="Euregio">Euregio</label>
                    </div>
                </div>
                {% else %}
                <div class="d-flex flex-float">
                    <h2 class="mx-3" style="color: red;">Special:</h2>
                    <div class="form-check form-switch mt-2 mx-3">
                        <input class="form-check-input" id="Euregio1" type="checkbox" name="Euregio" value="True">
                        <label class="form-check-label" for="Euregio1">Euregio</label>
                    </div>
                </div>
                {% endif %}
                <input name="user_id" type="text" style="display: none;" value="{{user.id}}" readonly>
                <div><button class="btn btn-danger">Save</button></div>
            </div>
        </form>
    </div> <!-- row -->
{% endblock %}
