{% extends "base.html" %}

{% block content %}
    <div class="row mt-3">
        <div class="col">
            <h1>Users</h1>
            <pre class="text-muted">Manage user-regions associations</pre>
        </div> <!-- col -->
    </div> <!-- row -->
    <div class="row mt-3">
        <table class="table table-striped table-hover col m-3 align-middle">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Username</th>
                    <th scope="col">Name</th>
                    <th scope="col">Active</th>
                    <th scope="col">Staff</th>
                    <th scope="col">Admin</th>
                    <th scope="col">Regions</th>
                    <th scope="col">Manage</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <th scope="row">{{user.id}}</th>
                    <td>{{user.username}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.is_active}}</td>
                    <td>{{user.is_staff}}</td>
                    <td>{{user.is_superuser}}</td>
                    <td>
                        <div class="d-flex flex-float">
                        {% for region in user.region.all %}
                        <div class="btn btn-secondary" style="margin: 8px">{{region}}</div>
                        {% endfor %}
                        </div>
                    </td>
                    <td>
                        <form method="POST" action="{% url 'region_select' user.id %}">
                            {% csrf_token %}
                            <button class="btn btn-primary">Manage</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div> <!-- row -->
{% endblock %}
