{% load static i18n %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}meteo.report Manager{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Back-office for the Euregio Weather Report public-facing website">
    <meta name="author" content="simevo s.r.l.">

    <link rel="icon" href="/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    {% block css %}
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons.css' %}" referrerpolicy="no-referrer" />

    <!-- Your stuff: Third-party CSS libraries go here -->
    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endblock %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      <!-- Bootstrap JS -->
      <script defer src="{% static 'js/bootstrap.min.js' %}" referrerpolicy="no-referrer"></script>
      <!-- Your stuff: Third-party javascript libraries go here -->
      <script src="{% static 'js/popper.min.js' %}"></script>
      <script defer src="{% static 'js/alpine.js' %}"></script>

      <!-- place project specific Javascript in this file -->
      <script defer src="{% static 'js/project.js' %}"></script>

    {% endblock javascript %}

  </head>

  <body>
    <div style="min-height: 100vh; display: grid; grid-template-rows: auto 1fr auto; background-color: #F8F9FA;">
    <div class="mb-1">
      <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #2941A4;">
        <div class="container-fluid">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="{% url 'bulletin_texts' %}" title="Bulletins">
            <img src="{% static 'images/logo-tinia-M-inverted.png' %}" alt="T" width="30" height="30">
          </a>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'bulletin_texts' %}" title="Bulletins with weather texts attached">Textual Bulletins <span class="visually-hidden">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'bulletin_data' %}" title="Bulletins with weather data attached">Data Bulletins <span class="visually-hidden">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'bulletin_pseudoradar' %}" title="Bulletins with NetCDF file attached">Pseudoradar Bulletins <span class="visually-hidden">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'dashboard' %}" title="Currently valid weather texts from today onwards">Dashboard</a>
              </li>
              {% if request.user.is_superuser %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'user_region' %}" title="Manage user-regions associations">
                  Users
                  <i class="bi bi-lock-fill"></i>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="/{{ ADMIN_URL }}" title="Django Administration">
                  Admin
                  <i class="bi bi-lock-fill"></i>
                </a>
              </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}" title="About meteo.report Manager">About</a>
              </li>
            </ul>
            <div class="me-2 navbar-nav mr-auto">
              {% if request.user.is_authenticated %}
              <div class="d-flex flex-column">
                <div class="nav-item">
                  {# URL provided by django-allauth/account/urls.py #}
                  <div class="nav-link" style="padding: 0; color: #9ebdbd;">Welcome, <a href="{% url 'users:detail' request.user.username  %}" style="color: #dddddd;">{{ request.user.username }}</a></div>
                </div>
                <div class="nav-item">
                  {# URL provided by django-allauth/account/urls.py #}
                  <div class="nav-link" style="padding: 0; color: #9ebdbd;">Bulletins | <a href="{% url 'account_logout' %}" style="color: #dddddd;">Logout</a></div>
                </div>
              </div>
              {% else %}
                <div class="nav-item">
                  {# URL provided by django-allauth/account/urls.py #}
                  <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% translate "Sign In" %}</a>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>

    </div>

    <div class="container-fluid">

      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}

      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}

    </div> <!-- /container -->
    <footer class="text-center text-lg-start text-muted" style="bottom: 0; width: 100%;">
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: #2941A4;">
        Copyright (C) 2022-2024 <a href="https://simevo.com" target="_blank">simevo s.r.l.</a> for <a href="https://www.europaregion.info" target="_blank">Europaregion Tirol/Südtirol/Trentino</a> - Source code: <a href="https://gitlab.com/tinia-euregio/tinia-manager" target="_blank">tinia-manager</a>, AGPL-3.0-or-later
      </div>
      <!-- Copyright -->
    </footer>
    </div>

    {% block modal %}{% endblock modal %}

    {% block inline_javascript %}
    {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {/* Run whatever you want */});
    </script>
    {% endcomment %}
    {% endblock inline_javascript %}
  </body>
</html>
