{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
  <h1>{{ user.username }}</h1>
  <form class="form-horizontal" method="post" action="{% url 'users:update' %}">
    {% csrf_token %}
    <div id="div_id_name" class="mb-3">
      <label for="id_name" class="form-label">
      Name of User
      </label>
      <input type="text" name="name" maxlength="255" value="{{user.name}}" class="textinput textInput form-control" id="id_region">
    </div>
    <div id="div_id_region" class="mb-3">
      <label for="id_region" class="form-label requiredField">
        Region
        <span class="asteriskField">*</span>
      </label>
      <select name="region" class="selectmultiple form-select" required="" id="id_region" multiple="">
        <option value="aadb73d3-bab3-484f-accf-01e19f7fcc04" selected="">Tyrol</option>
        <option value="7d2d63a2-5f2c-4b53-841f-22c50ea03768">South Tyrol</option>
        <option value="fba93146-7192-4190-adab-605435fdeea1">Trentino</option>
      </select>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </div>
  </form>
{% endblock %}
